/* Reset & Body Styling */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/leaon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Container Styling */
.container {
  width: 450px;
  padding: 30px;
  background-image: url("img/plufow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Title Styling */
.form-title {
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
  font-size: 40px;
}

/* Input Section Styling */
.container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container2 label {
  font-size: 16px;
  margin-bottom: 6px;
  color: #fff;
  font-weight: bold;
}

.container2 input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;

  outline: none; /* Removes the black outline */
  box-shadow: 0 0 0 2px #04aa6d; /* Optional: Adds a nice green focus ring */
  transition: box-shadow 0.2s ease;
}
.container2 input:focus {
  box-shadow: 0 0 0 3px #04aa6d; /* Focus effect */
}

.container2 input::placeholder {
  color: gray;
}

/* Button Container */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Button & Link Styling */
.login-page {
  background-color: rgb(196, 200, 209);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-page:hover {
  background-color: rgb(160, 178, 202);
}

.btn-submit {
  background-color: rgb(196, 200, 209);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: rgb(160, 178, 202);
}

.form-description {
  color: #d8439a;
  font-size: 16px;
  margin: -20px 0 30px;
  text-align: center;
  padding: 0 10px;
}

.form-image {
  width: 90px;
  height: 90px;
  margin: 35px 0;
  object-fit: cover;
  border-radius: 10%; /* Makes it a perfect circle */
  box-shadow: 0 4px 15px rgb(244, 193, 165, 0.3); /* Soft white glow */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.form-image:hover {
  transform: scale(0.8); /* Slight zoom on hover */
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.5); /* Brighter glow on hover */
}
