body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/leaon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-image: url("img/plufow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  align-items: center;
  margin: 8px;
  padding: 5px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0; /* Light gray or any color */
  color: rgb(206, 35, 35); /* Text color typed by user */
}
input::placeholder {
  color: gray; /* Change to any color you want */
  opacity: 1; /* Optional: makes it fully visible */
}

.container label {
  align-self: flex-start;
  margin-left: 8px;
  font-size: 20px;
  font-family: serif;
  color: gray;
}
.container button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(167, 180, 197);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  margin: 8px;
  cursor: pointer;
  color: white;
  border: 10px;
  margin-top: 30px;
}
.form-title {
  color: white;
  text-shadow: 2px 2px 5px rgba(116, 233, 208, 0.6);
  margin-bottom: 60px;
  font-size: 60px;
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-items: center;
}
.sign-up {
  color: rgb(236, 82, 185);
  margin-top: 20px;
  cursor: pointer;
  width: 80%;
  text-align: center;
  font-size: 20px;
}
